<app-top-nav [curuser]="u"></app-top-nav>
<div id="layoutSidenav">
  <app-side-nav id="layoutSidenav_nav" style="overflow-y:auto;height:90vh"></app-side-nav>
  <div id="layoutSidenav_content">
    <main class="kk">
                <router-outlet (activate)="fun()"></router-outlet>
    </main>
    <!-- <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">Copyright &copy; Your Website 2019</div>
                <div>
                    <a href="#">Privacy Policy</a>
                    &middot;
                    <a href="#">Terms &amp; Conditions</a>
                </div>
            </div>
        </div>
    </footer> -->
</div>
</div>