<div class="container">
    <h2>Students List</h2>
             
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Student Name</th>
          <th>Branch</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Operations</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let d of datas">
          <td>{{d.id}}</td>
          <td>{{d.name}}</td>
          <td>{{d.branch}}</td>
          <td>{{d.email}}</td>
          <td>{{d.phone}}</td>
       <td><button class="btn btn-primary" data-toggle="modal" 
  data-target="#myModal" (click)="update(d)">Update</button>
         <button class="btn btn-primary" 
         (click)="delete(d)">Delete</button></td>
        </tr>
    
      </tbody>
    </table>
  </div>
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
      


          <div *ngIf="tobeupdated" class="container myform">
            <form #userForm="ngForm">
               
                <label>Student ID:</label>
                <input type="text" id="stuid" name="id" #id="ngModel"
                placeholder="Student ID.."[class.is-invalid]="id.invalid && id.touched" 
                  required [(ngModel)]="tobeupdated.id" >
                 <div *ngIf="id.errors && (id.invalid || id.touched)">
                    <small class="text-danger" *ngIf="id.errors.required">Id must be required</small>
                    <!-- <small class="text-danger" *ngIf="email.errors.pattern">Id must be in appropriate format(0-9)</small> -->
                  </div> 
        
                <label>Student Name:</label>
                <input type="text" id="fname" name="name" #name="ngModel"
                  placeholder="Student name.." [class.is-invalid]="name.invalid && name.touched"
                 required  [(ngModel)]="tobeupdated.name">
                <small class="text-danger"
                [class.d-none]="name.valid || name.untouched">Name is required</small>
              
                <label>Branch:</label>
                <input type="text" id="branch" name="branch" #branch="ngModel"
                  placeholder="Student Branch.." [class.is-invalid]="branch.invalid && branch.touched"
                 required  [(ngModel)]="tobeupdated.branch">
                <small class="text-danger"
                [class.d-none]="branch.valid || branch.untouched">Branch is required</small>
        
                <label>Email:</label>
                <input type="email" id="email" 
                pattern = "^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" 
                #email = "ngModel" placeholder="Your email address" class="form-control"
                [class.is-invalid]="email.invalid && email.touched"
                name="email" required [(ngModel)]="tobeupdated.email">
                <div *ngIf="email.errors && (email.invalid || email.touched)">
                  <small class="text-danger" *ngIf="email.errors.required">Email must be required</small>
                  <small class="text-danger" *ngIf="email.errors.pattern">Email must be in appropriate format</small>
                </div>
        
                <label>Mobile No:</label>
                <input type="tel" id="phone" name="phone" #phone = "ngModel" 
                placeholder="Mobile No." required  [class.is-invalid]="phone.invalid && phone.touched"
                 [(ngModel)]="tobeupdated.phone" maxlength="10">
                 <small class="text-danger"
                [class.d-none]="phone.valid || phone.untouched">Mobile No. is required</small>
                
            
                 <!-- <input type="submit" value="Submit"> -->
                 <button  class="btn btn-primary" [disabled]="userForm.form.invalid" style="margin-left: 40%;"
                  (click)="create()">Confirm</button>
                  <!-- <div class="alert alert-success">
                    <strong>Success!</strong> Update Students Successfully.
                  </div> -->
                </form>
                </div>
              
</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default"
           data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
